@import "text-color.less";

.home {
  position: absolute;
  margin: 0 auto;
  padding: 2rem;
  top: 30%;
  transition: opacity 1s;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
  visibility: hidden;
  
  &.active {
    transition-delay: 1s;
    opacity: 1;
    visibility: visible;
    height: fit-content
  }

  h1 {
    margin: 0;

    text-shadow: 0 0 4rem #000;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 4.6vw;

    background-color: transparent !important;

    // animation: colors 10s linear 0s infinite normal;
  }
  p{
    color: white;
    text-align: center;
  }
}
