#app {
  height: 100%;
  overflow: hidden;
}

.main {
  cursor: none;
  height: 100vh;
  padding: 0px 20vw;
  overflow: scroll;

  #cursor {
    mix-blend-mode: soft-light;
  }

  .content {
    padding: 1rem 0;

    svg {
      position: absolute;
      top: 0;
      left: 0;

      .top,
      .bottom {
        stroke-dasharray: 110% 200;
      }

      .left,
      .right {
        stroke-dasharray: 100% 20;
      }

      line {
        stroke-width: 3;
        stroke: #ecf0f1;
        fill: none;
        transition: all 0.8s;
        transition-delay: 0.1s;
      }
    }

    div.active {
      .top {
        transform: translateX(100%);
      }

      .bottom {
        transform: translateX(100%);
      }

      .left {
        transform: translateY(100%);
      }

      .right {
        transform: translateY(100%);
      }
    }

    div {
      .top {
        transform: translateX(100%);
      }

      .bottom {
        transform: translateX(100%);
      }

      .right {
        transform: translateY(100%);
      }

      .left {
        transform: translateY(100%);
      }
    }

    div:hover {
      .top {
        transform: translateX(0px);
      }

      .bottom {
        transform: translateX(0px);
      }

      .right {
        transform: translateY(0px);
      }

      .left {
        transform: translateY(0px);
      }
    }
  }

  margin: 0 auto;
  background-color: #5ea257;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  p {
    font-family: 'Bellefair', serif;
    font-weight: 300;
    line-height: 1em;
  }

  p {
    line-height: 1.4em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: border-color 0.2s;
    color: white;

    &.hovered {
      border-color: transparent;
    }
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;

    button {
      height: 50px;
      transition: 0.2s height, 0.2s border-color;
      min-width: max-content;

      &.hovered {
        height: 70px;
      }
    }

    a {
      border-bottom: none;
      padding-bottom: none;
    }
  }

  #home,
  #work,
  #fun {
    position: relative;
    max-height: 0;
    visibility: hidden;
    transition: visibility 0.2s, opacity 0.2s;
    opacity: 0;

    * {
      pointer-events: none;
    }

    &.active {
      * {
        pointer-events: auto;
      }

      max-height: 1000px;
      visibility: visible;
      opacity: 1;
    }

    &.disabled {
      display: none;
    }
  }

  #home {
    padding: 20px;
  }

  button {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 800;
    color: #126516;
    cursor: none;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #c9e3c4;
    border: 1px solid transparent;

    a {
      border: none;
      height: 100%;
      width: 100%;
      color: inherit;
    }

    // &:hover {
    //   border: 1px solid white;
    // }
  }

  h1 {
    font-size: 72px;
  }

  span {
    font-size: 28px;
  }

  #navbar {
    @media (max-width: 768px) {
      display: none;

    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 15px;

    button {
      margin: 0 10px;
      width: 20vw;
      max-width: 200px;
      transition: height 0.2s, color 0.2s, background-color 0.2s, border-color 0.2s;
      border: 1px solid transparent;

      &.active {
        background-color: white;
        height: 70px;
      }
    }
  }
}
