.work {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  padding: 10px 20px;
  max-width: 67%;
  align-self: flex-end;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
  visibility: hidden;

  color: white;

  h3 {
    font-size: 2em;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
    height: fit-content
  }

  button {
    margin: 1rem 0 0 0;
    width: 100%;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
